{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
   <img src="/static/imgs/limon.png" alt="lemon"/>
   <h2>Hoy tengo...</h2>
   <p style="color: red">{{ message }}</p>
   <form action="/" method="POST">
      <div class="form-group, input-wrapper">
            <input autocomplete="off" autofocus class="inputfocus inputindex form-control" name="ingredients" placeholder="Ing 1, ing 2, ing 3..." type="text" value="">
        </div>
         <br>
        <button class="buttonindex" action="/" name="submit" value="WhatCook" type="submit">¿Qué puedo cocinar?</button>
   </form>
   <br>
{% endblock %}