{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<h2>Listado de recetas:</h2>
<p style="color: red">{{ message }}</p>
    <form action="/recipeslist" method="POST">
        <input type="search" name="search" placeholder="Nombre de la receta">
        <button class="" action="/recipeslist" name="search" value="Search" type="submit">Buscar</button>
    </form>
    <img class="padding1" src="/static/imgs/manzana.png" alt="peeling apple"/>
    <br>
        {% for recipe in resultRecipes %}
        <h3>{{ recipe["name"][0] }}</h3>
        <br>
        <p><strong>Ingredientes:</strong></p>
        <div class="divcenter">
            <table class="">
                <tbody>
                    <tr>
                        <td class="table-ingredients">
                        {% for i in recipe["ingredients"] %}
                        <li>{{ i[0] }}</li>
                        {% endfor %}
                        </td>
                        <td class="table-amounts">
                        {% for a in recipe["amounts"] %}
                        <li>{{ a }} </li>
                        {% endfor %}
                        </td>
                        <td class="table-measures">
                        {% for m in recipe["measures"] %}
                        <li>{{ m[0] }}</li>
                        {% endfor %}
                        </td>
                    </tr>  
                </tbody>
            </table>
        
            <br>
            <p><strong>Instrucciones:</strong></p>
            <p>{{ recipe["instructions"][0] }}</p>
            <p><em>Categoría: {{ recipe["category"][0] }}</em></p>
            <h3 style="color: rgba(153,112,66,0.6)">-------------------</h3>
        </div>
        {% endfor %}
{% endblock %}